<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'list-location' %}">Workana</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto">

                <!-- Início -->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'list-location' %}">Início</a>
                </li>

                <!-- Relatório -->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/reports/' %}active{% endif %}" href="{% url 'reports' %}">Relatório</a>
                </li>

                <!-- Consultas -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownConsulta" role="button" data-bs-toggle="dropdown">
                        Consultar
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'client-list' %}">Clientes</a></li>
                        <li><a class="dropdown-item" href="{% url 'contract-list' %}">Contratos</a></li>
                        <li><a class="dropdown-item" href="{% url 'payment-list' %}">Pagamentos</a></li>
                        <li><a class="dropdown-item" href="{% url 'employee-list' %}">Funcionários</a></li>
                        <li><a class="dropdown-item" href="{% url 'visit-list' %}">Visitas</a></li>
                        <li><a class="dropdown-item" href="{% url 'maintenance-list' %}">Manutenções</a></li>
                        <li><a class="dropdown-item" href="{% url 'owner-list' %}">Proprietários</a></li>
                    </ul>
                </li>

                <!-- Cadastro -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCadastro" role="button" data-bs-toggle="dropdown">
                        Cadastrar
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'client-create' %}">Cliente</a></li>
                        <li><a class="dropdown-item" href="{% url 'immobile-create' %}">Imóvel</a></li>
                        <li><a class="dropdown-item" href="{% url 'contract-create' %}">Contrato</a></li>
                        <li><a class="dropdown-item" href="{% url 'payment-create' %}">Pagamento</a></li>
                        <li><a class="dropdown-item" href="{% url 'employee-create' %}">Funcionário</a></li>
                        <li><a class="dropdown-item" href="{% url 'visit-create' %}">Visita</a></li>
                        <li><a class="dropdown-item" href="{% url 'maintenance-create' %}">Manutenção</a></li>
                        <li><a class="dropdown-item" href="{% url 'owner-create' %}">Proprietário</a></li>
                    </ul>
                </li>

            </ul>

            <span class="navbar-text text-light">
                {{ request.user.username }}
            </span>
                <a class="navbar-brand" href="#">Vezetiv</a> 
        </div>
    </div>
</nav>
